<!-- NOTE:this is template driven form -->
<div class="container mt-5">
  <div class="form-area">
    <form #f="ngForm" (submit)="onSubmit(f)">
      <div class="form-group">
        <label>Request name</label>
        <input
          type="text"
          placeholder="full name"
          name="nom"
          class="form-control is-invalid"
          ngModel
          #nom="ngModel"
          (change)="getVal(nom)"
          required
          [ngClass]="{ 'is-invalid': nom.touched && nom.invalid }"
          minlength="6"
          maxlength="9"
        />
        <div *ngIf="nom?.errors?.['required']">
          <div class="alert alert-danger" *ngIf="nom.touched && nom.invalid">
            full name is required
          </div>
        </div>
        <div *ngIf="nom?.errors?.['minlength']">
          <div class="alert alert-danger" *ngIf="nom.touched && nom.invalid">
            full name minlength is 6
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="email"
          placeholder="email"
          name="email"
          class="form-control"
          ngModel
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
          #email="ngModel"
          pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
          required
        />
        <div *ngIf="email?.errors?.['required']">
          <div
            class="alert alert-danger"
            *ngIf="email.touched && email.invalid"
          >
            email is required
          </div>
        </div>
        <div *ngIf="email?.errors?.['pattern']">
          <div
            class="alert alert-danger"
            *ngIf="email.touched && email.invalid"
          >
            email is incorrect
          </div>
        </div>
      </div>

      <div class="form-group">
        <textarea
          name="adress"
          id="adress"
          cols="30"
          rows="10"
          placeholder="adress"
          class="form-control"
          #adress="ngModel"
          ngModel
          required
        ></textarea>
        <div *ngIf="adress?.errors?.['required']">
          <div
            class="alert alert-danger"
            *ngIf="adress.touched && adress.invalid"
          >
            address is required
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">submt</button>
    </form>
  </div>
</div>
