<!-- NOTE:REACTIVE FORM -->
<div class="container mt-5">
    <div class="form-area">
        <form >
            <div class="form-group">
                <label> Username</label>
                <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': fc.username.touched && fc.username.invalid }" />
                <div class="alert alert-danger" *ngIf="fc.username.touched && fc.username.invalid">
                    <div *ngIf="fc.username.errors?.required">Adress is required</div>
                    <div *ngIf="fc.username.errors?.minlength">Adress minimun character 5</div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label> Password </label>
                <input type="text" class="form-control" formControlName="password" />
                <div class="alert alert-danger" *ngIf="fc.password.touched && fc.password.invalid">
                    <div *ngIf="fc.password.errors?.required">Password is required</div>
                    <div *ngIf="fc.password.errors?.noSpaceValidator">Password not contains space</div>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="form.invalid">submit</button>
        </form>
    </div>
</div>